<%= render 'layouts/dash'%>
<h1>Loan Book</h1>
<div>
  <%= form_tag loaned_books_path, :method => 'get', class:"d-flex mt-3" , role:"search" do%>
    <div class="col">
      <%= search_field_tag :search, params[:search], class: "search-input", placeholder: "type to search"%>
      <%= button_tag "search", class: "btn btn-outline-success"%>
    </div>
  <% end %>
</div>
<table class="table responsive table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>BookName</th>
      <th>AuthorNmae</th>
      <th>Status</th>
    </tr>
  </thead>
  <%= render 'loan_book' %>
</table>